<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>My Website - About</title> 
    <link rel ="stylesheet" href="{{ url_for('static', filename='css/app.css')}}"/>
</head> 
<body> 
    <h1>Raeanna Warren </h1> 
    <p>My name is Raeanna Warren, and I am a 20-year-old Computer Science major at UWI.
I chose to take INF03180 because I have a strong passion for web development and its impact on the tech industry. 
I am committed to excelling in this course and am confident that I will achieve an A+.
A bit about me—I am a dedicated and ambitious student, sometimes to the point of being an overachiever, which can be overwhelming at times.
I enjoy listening to music and spending quality time with my loved ones. I also have a love for flowers, especially peonies, which are my favorite.
Currently, I hold the position of Academic Chairperson on the Computing Subcommittee. I love being a leader and find fulfillment in guiding and inspiring others.
To me, leadership is about fostering collaboration, uplifting those around me, and setting a positive example.
A strong leader not only provides direction but also listens, encourages, and helps others grow.
In my role, I strive to embody these qualities and make a meaningful impact. 
    </p> 
    <img src="{{ url_for('static', filename='Peonies.jpg') }}" alt="Pink Peony Flower">
</body> 
</html> 
